<form action= "<%= cats_url %>" method="post">
<label for="cat_name" >name: </label>
<input type="text" id="cat_name" name="cat[name]" value="<%= @cat.name %>">
<br>

<label for="cat_sex">sex: </label>
<input type="radio" id="cat_male" name="cat[sex]"  value="M">
<label for="cat_male"> M</label>
<input type="radio" id="cat_female" name="cat[sex]"  value="F">
<label for="cat_female"> F</label>

<br>
<label for="cat_color"> color:</label>
<select name="options" id="cat_color">
     <option value="orange">orange</option>
     <option value="black">black</option>
     <option value="white">white</option>
     <option value="grey">grey</option>    
</select>

<br>
<label for="birth_date">birth date:</label>
<input type="birth_date" id="birth_date" name="cat[birth]">





</form>